@font-face {
    font-family: 'Consolas';
    font-style: normal;
    src: url('./consola.ttf');
}

.log_type_error {
    color: white;
    background-color:  #F44336;
    text-align: center;
    padding: 5px;
    font-family: 'Consolas', serif;
}

.log_type_warn {
    color: black;
    background-color:#FFEB3B;
    text-align: center;
    padding: 5px;
    font-family: 'Consolas', serif;
}

.log_type_info {
    color: white;
    background-color:#4CAF50;
    text-align: center;
    padding: 5px;
    font-family: 'Consolas', serif;
}

.log_type_others {
    color: whitesmoke;
    background-color: #2196F3;
    text-align: center;
    padding: 5px;
    font-family: 'Consolas', serif;
}

.log_text_style {
    color: white;
    padding-left: 10px;
    font-family: 'Consolas', serif;
    border-bottom: 5px solid #6F4A8E;
}

.log_timestamp {
    color: white;
    font-family: 'Consolas', serif;
    border-bottom: 5px solid #6F4A8E;
}

.header_timestamp {
    color: white;
    padding-left: 35px;
    border-bottom: 5px solid #6F4A8E;
    font-size: 20px;
    background: #221F3B;

}

.header_type {
    color: white;
    text-align: center;
    border-bottom: 5px solid #6F4A8E;
    font-size: 20px;
    background: #221F3B;
}

.header_log {
    color: white;
    padding-left: 13px;
    border-bottom: 5px solid #6F4A8E;
    font-size: 20px;
    background: #221F3B;
}
