
.div_style {
    text-align: justify;
}
.span_style {
    margin-right: 15px;
    padding-left: 12px;
}


.span_type {
    vertical-align: center;
    margin-right: 15px;
    padding-left: 12px;
    display: inline-block;
    width:60px;
}

.span_description {
    display: inline-block;
    width: 30%;
    text-align: justify-all;
    word-wrap: break-word;
}

.modal_button {
    background-color: #221f3b;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    width: 20%;
    border: none;
    font-size: medium;
    font-family: Open Sans, monospace;
    margin-left: 450px;
}

.modal_background {
    background-color: #181A1B;
}

.modal_span {
    color: white;
    border-bottom: 5px solid #6F4A8E;
    font-size: 20px;
    background: #221F3B;
}

.pre_time_stamp {
    color: white;
}


.pre_type {
    color: white;
}

.pre_log {
    color: white;
}
