
.div_style {
    text-align: justify;
}
.span_style {
    margin-right: 15px;
    padding-left: 12px;
}


.span_type {
    vertical-align: center;
    margin-right: 15px;
    padding-left: 12px;
    display: inline-block;
    width:60px;
}

.span_description {
    display: inline-block;
    width: 70%;

}