@font-face {
    font-family: 'Consolas';
    font-style: normal;
    src: url('./../consola.ttf');
}
.div_style {
    text-align: justify;
}
.span_style {
    margin-right: 15px;
    padding-left: 12px;
}


.span_type {
    vertical-align: center;
    margin-right: 15px;
    padding-left: 12px;
    display: inline-block;
    width:60px;
}

.span_description {
    display: inline-block;
    width: 30%;
    text-align: justify-all;
    word-wrap: break-word;
}

.modal_button {
    background-color: #6F4A8E;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    width: 20%;
    border: none;
    font-size: medium;
    font-family: Open Sans, monospace;
    margin-left: 450px;
}

.modal_background {
    background-color: #181A1B;
}

.modal_span {
    color: white;
    border-bottom: 5px solid #6F4A8E;
    font-size: 20px;
    background: #221F3B;
}

.pre_time_stamp {
    color: white;
    font-size: 15px;
    font-family: 'Consolas', serif;
}


.pre_type {
    color: white;
    font-size: 15px;
    font-family: 'Consolas', serif;
}

.pre_log {
    color: white;
    font-size: 15px;
    font-family: 'Consolas', serif;
}

.log_type_error {
    color: white;
    background-color:  #F44336;
    text-align: center;
    padding: 5px;
    font-family: 'Consolas', serif;
    width: 50px;
}

.log_type_warn {
    color: black;
    background-color:#FFEB3B;
    text-align: center;
    padding: 5px;
    font-family: 'Consolas', serif;
    width: 50px;
}

.log_type_info {
    color: white;
    background-color:#4CAF50;
    text-align: center;
    padding: 5px;
    font-family: 'Consolas', serif;
    width: 50px;
}

.log_type_others {
    color: whitesmoke;
    background-color: #2196F3;
    text-align: center;
    padding: 5px;
    font-family: 'Consolas', serif;
    width: 50px;
}
