.application_name {
    font-size: 40px;
    text-align: center;

    color: white;
    text-transform: uppercase;
    border: 5px solid #6F4A8E;
    background: #6F4A8E;
    margin-bottom: 20px;
}

.description {
    color: white;
    size: 15px;
}

.code_style {
    color: white;
    font-size:medium;
    border: 5px solid black;
    background: black;
    padding: 5px;
    border-radius: 10px;
}

.code_entry_style {
    color: white;
    padding: 10px;
}

.check_logs_button {
    background-color: #221f3b;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    width: 20%;
    border: solid 5px #6f4a8e;
    font-size: medium;
    font-family: Open Sans, monospace;
    margin-left : 50px;
    margin-bottom: 50px;

}

.toast_notification {
    /*text-align: left;*/
    font-size: medium;
    display: inline-block;
}

.nav_elements {
    font-size: 30px;
    color: white;
    cursor: pointer;
    margin-left: 350px;
    padding: 30px;
}

.nav_elements:hover {
   background-color: #221f3b;
}


.nav_bar {
    margin: 30px;
    background: #6f4a8e;
    border-radius: 5px;
    overflow: auto;

}
