.div_style {
    margin-top: 20px;
    text-align: center;
    color: white;
    border:  #6f4a8e solid;
}

.text_style {
    color: white;
}

.button_style {
    background-color: #221f3b;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    width: 10%;
    border: none;
    font-size: medium;
    font-family: Open Sans, monospace;
}
