.div_style {
    border: 1px solid red;
    margin-top: 20px;
    text-align: center;
    color: white;
}

.text_style {
    color: white;
}

.button_style {

    width: 10%;
    justify-self: right;
    padding-right: 20px;
}
